{% extends "base.html" %}
{% block title %}Ethereum wallet{% endblock %}
{% block content %}
<h1>Private key generation</h1>
<p>Please provide the following information in order to generate <em>n</em> private key shares with threshold <em>t</em>.</p>

<form action="#" method="post">
    <p>Number of private key shares (<em>n</em>):</p>
    <p><input type="text" name="nOfPart" /></p>
    <p>Threshold (<em>t</em>, number of malicious parties):</p>
    <p><input type="text" name="t" /></p>
	<p><input type="submit" value="Generate"/></p>
</form>

{% endblock %}